body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
input{
  padding: 5px;
  width: 200px;
  margin: 10px;
  border: 1px solid black;
}
.App{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px auto 50px;
  padding: 50px;
}
.app{
  text-align: center;
}